h2 {
	color: blue;
}

/*.boxmodel {
	border: 5px solid red;
	display: inline-block;
	padding: 5px 20px 5px 20px;  top right bottom left 
	margin: 0px 20px; /* top-bottom right-left 
	width: 33px;
	height: 55px;
}*/

p {
	font-size: 20px;
}

/*span {
	font-size: 5em;  /* equal to 5 times the containing element
} */

span {
	font-size: 2rem; /* the size in relation to the size of the root element - <html> */
}